/* 
---------
!RESET
---------
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 
  ---------
  !DEBUG
  ---------
  */

/*
  ------------
  !TYPOGRAPHY
  ------------
  */
body {
  font-size: 0.75rem;
}
h4 {
  font-size: 0.9375rem;
}
h6 {
  font-size: 1rem;
}

/*
  ----------
  !PALETTE
  ----------
*/
:root {
  --bg-header: #ff6900;
  --bg-discount: #ff0000;
  --bg-eco: #008000;
  --bg-footer: #1a1a1a;
}
header,
footer {
  color: white;
}
/*
  ---------
  !COMMON
  ---------
*/
.container {
  margin: 0 auto;
  width: 86.25rem;
}
.discount,
.eco {
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 0.3125rem 0.625rem;
}
ul {
  list-style-type: none;
  display: flex;
}
.heart,
.etiquette {
  z-index: 10;
}

/*
  ---------
  !HEADER
  ---------
*/
header {
  background-color: var(--bg-header);
  padding: 1.875rem;
  font-weight: bold;
  box-shadow: 0px 15px 10px -15px #9e9e9e;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99;
}
nav {
  display: flex;
  align-items: center;
}
nav ul {
  gap: 0.625rem;
}
nav .age,
nav .icons {
  display: flex;
  flex-grow: 1;
}
nav .logo {
  flex-grow: 3;
  display: flex;
  justify-content: center;
}
nav .logo img {
  width: 8.4375rem;
}
nav .icons {
  justify-content: flex-end;
}
/*
  -------
  !MAIN
  -------
*/
main {
  padding: 7.5rem 0 3.75rem 0;
}
/* ?Scheda del prodotto img e sconti */
main .products {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.products .block {
  display: flex;
  margin: 0.9375rem;
  width: calc(100% / 3 - 1.875rem);
  flex-wrap: wrap;
}
.block .image {
  position: relative;
  height: 40.625rem;
}
.image .heart {
  position: absolute;
  top: 0.625rem;
  right: 0;
  width: 3.125rem;
  font-size: 1.5625rem;
  background-color: white;
  text-align: center;
  padding: 0.625rem;
  color: black;
}
.image .etiquette {
  position: absolute;
  left: 0;
  bottom: 2.8125rem;
  display: flex;
}
.etiquette .discount {
  width: 3.4375rem;
  background-color: var(--bg-discount);
  margin-right: 0.3125rem;
}
.etiquette .eco {
  width: 6.5625rem;
  background-color: var(--bg-eco);
}
.image img {
  width: 100%;
  display: block;
  height: 100%;
  position: relative;
}
/* ?immagine nascosta */
.image .hidden-img {
  z-index: 2;
  top: -40.625rem;
}
.image .front-img {
  z-index: 3;
}
.image .front-img:hover {
  z-index: 1;
}
/* ?cuore rosso */
.image .heart:hover {
  color: var(--bg-discount);
}
/* ?info del prodotto */
.info .price :first-child {
  color: var(--bg-discount);
}
.info .price .line {
  text-decoration: line-through;
}

/*
  ---------
  !FOOTER 
  ---------
*/
footer {
  background-color: var(--bg-footer);
  padding: 2.1875rem;
}
footer .footer-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-nav ul {
  gap: 0.5rem;
}
.footer-nav h6 {
  margin-bottom: 1.125rem;
}
