/*
--------
!RESET 
--------
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
--------
!COMMON
--------
*/
body {
  padding-top: 4.375rem;
}
.container {
  max-width: 86.25rem;
  margin: 0 auto;
}
.product-image .tags .tag {
  padding: 0.3125rem 0.625rem;
  font-size: 0.8125rem;
  color: white;
  font-weight: bold;
  display: inline-block;
}
ul {
  list-style-type: none;
  display: flex;
  gap: 0.625rem;
}
a {
  text-decoration: none;
}

/*
--------
!PALETTE
--------
*/
:root {
  --bg-header: #ff6900;
  --bg-discount: #ff0000;
  --bg-eco: #008000;
  --bg-footer: #1a1a1a;
}
header,
footer {
  color: white;
}
header a,
footer a {
  color: inherit;
}

/*
--------
!TYPOGRPHY
--------
*/
body {
  font-family: "Roboto", sans-serif;
}
h5 {
  font-size: 0.9375rem;
}

/*
--------
!HEADER
--------
*/
header {
  background-color: var(--bg-header);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.375rem;
}
.main-nav .menu,
.main-nav .menu-servizio {
  width: 20%;
}
.main-nav .logo img {
  height: 1.875rem;
  display: block;
}
.main-nav .menu-servizio ul {
  justify-content: flex-end;
}

/*
--------
!MAIN
--------
*/
main {
  padding: 3.125rem 0;
}
.products {
  display: flex;
  flex-wrap: wrap;
  gap: 0.625rem;
}
.product {
  width: calc((100% - 1.25rem) / 3);
}
.product-image {
  position: relative;
}
.product-image img {
  width: 100%;
  display: block;
}
.product-image .heart,
.product-image .tags {
  position: absolute;
}
.product-image .heart {
  top: 0.625rem;
  right: 0;
  background-color: white;
  padding: 0.625rem;
}
.product-image .tags {
  left: 0;
  bottom: 2.5rem;
}
.tag.discount {
  background-color: var(--bg-discount);
}
.tag.message {
  background-color: var(--bg-eco);
}
.product-info {
  padding-top: 0.4375rem;
  font-size: 0.8125rem;
}
.product-info h5 {
  margin: 0.3125rem 0;
}
.product-info strong {
  color: var(--bg-discount);
}
.product-info span {
  text-decoration: line-through;
}

/* ?hover */
.heart:hover {
  color: var(--bg-discount);
}
/* *hover img con position absolute e opacity, posso fare transizioni */
.images .hover-img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.4s linear;
}
.images:hover .hover-img {
  opacity: 1;
}

/* *hover img con disply none, non permette transizioni */
/* .images .hover-img {
  display: none;
}
.images:hover .default-img {
  display: none;
}
.images:hover .hover-img {
  display: block;
} */

/*
--------
!FOOTER
--------
*/
footer {
  background-color: var(--bg-footer);
  padding: 1.875rem 0;
}
.footer-nav {
  display: flex;
  justify-content: space-between;
}
.footer-nav h5 {
  margin-bottom: 1.0625rem;
}
